{% extends 'messenger/base_messages.html' %}

{% load i18n %}

{% block title %}{% trans 'Inbox' %}{% endblock %}

{% block page_header %}{% trans 'Inbox' %}{% endblock %}

{% block container %}
  {% if messages %}
  <ul class="conversation">

  <div class="myBox"  id="box">
 
   

    {% for message in messages %}   
      {% include 'messenger/includes/partial_message.html' with message=message %}
    <!--  <form action="{% url 'delete_message' message.id %}" method="post" style="display: inline;">
              {% csrf_token %}
              
              <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('etes vous sur de supprimer ???? ')">
                  <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
              </button>

        </form> -->
    {% endfor %}
    
</div>
<script type="text/javascript">
 //fixed scroll box to the bottom 
var objDiv = document.getElementById("box");
objDiv.scrollTop = objDiv.scrollHeight;


</script>
</ul>

    <div class="send-message">
     
      <div class="col-md-6" style="height: 50px;width: 50px;">
      <img src="{{ user.profile.get_picture }}" class="picture" style="height: 40px;width: 40px;" >
      </div>
        <div class="col-md-6">
        <div style="margin-top: .3em">
        <form role="form" method="post" action="{% url 'send_message' %}" id="send" >
          {% csrf_token %}
          <input type="hidden" name="to" id="to" value="{{ active }}">
        <!--  <input type="hidden" name="objet" id="objet" value="{{ produit.title }}">
          <input type="hidden" name="url" id="url" value="{{ produit.id }}"> -->
          <input class="form-control" type="text" id="message" name="message" placeholder="Write a message..." maxlength="1000" autocomplete="off" style="width: 520px;">
          <div class="success_message" class="ajax_response" style="float:left"></div>
        </form>
        </div>
     </div>
      </div>
      
   
  <!--   Attachez Image et Produits -->
  <div class="col-md-10 col-md-offset-1"  style="margin-top: 10px">
  {% include 'messenger/includes/attach_image.html'  %}
   
  {% include 'messenger/includes/attach_produit.html' with produitsU=produitsU  %} 
  </div>
                                       
    
  {% else %}
    <h4>Your inbox is empty!</h4>
  {% endif %}
{% endblock container %}


