body{
  
 /* background-image:url('/static/img/im.jpg'); */
 background-color:     #f2f2f2;
}

#flip { 
    

    padding: 5px;
    text-align: center;
    background-color:   #87CEFA;
    border: solid 1px #c3c3c3;
}



 .btnC {
    background-color: #FFFFE0; /* Green */
    border-radius: 12px;
    color: grey;
    border : none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 115%;
    display: block;
    position: relative;


} 

 .btnC:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}  

 .btnC:hover {
    background-color: #DCDCDC;
}
/*.btn-group1 .button {
    background-color: #FFFFFF; 
    border: none;
    color: grey;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group1 .button:hover {
    background-color: #DCDCDC;   */
}

.typeahead, .tt-query, .tt-hint {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 4px 12px;
  width: 300px;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  padding: 8px 0;
  width: 300px;
}
.tt-suggestion {
  font-size: 1.2em;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}


.btnM {
    background-color: transparent; /* Green */
    border-radius: 0px;
    color: black;
    border : none;
    padding: 5px 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    width: 100%;
    display: block;
    position: relative;


} 

 .btnM:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}  

 .btnM:hover {
    background-color: #B22222;
}