body{
	
  background-image:url('/static/img/grey.jpg');
  background-size: cover;
}
#flip { 
    

    padding: 10px;
    text-align: center;
    background-color:   #bfbfbf;
    border: solid 1px #c3c3c3;
}


.btn-group .button {
  padding-top: 5px;
  padding-left: 35px;
   /* background-color: #FFFFE0;  Green */
   background-color: transparent;
   /* border-radius: 9px; */
   border: none;
    color: #262626;
    /*padding: 3px 16px;  */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    width: 220px;
    /*display: block; */
}
.btn-group1 .button1 {
  text-align: left;
   /* background-color: #FFFFE0;  Green */
   background-color: transparent;
   /* border-radius: 9px; */
   border: none;
    color: #262626;
    /*padding: 3px 16px;  */
    /*display: inline-block; */
    font-size: 12px;
    cursor: pointer;
    width: 120px; 
    display: block; 
}


.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #DCDCDC; 
    width: 250px;
    z-index: none;
   
}
.btn-group1 .button1:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group1 .button1:hover {
    background-color: #DCDCDC; 
}


.typeahead, .tt-query, .tt-hint {
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  outline: medium none;
  padding: 4px 12px;
  width: 300px;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  padding: 8px 0;
  width: 300px;
  left :100px;
}
.tt-suggestion {
  font-size: 1.2em;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

