  {% load i18n %}
{% load humanize %}   
     
       

  <div class="feed-container panel" style="padding: 10px;">
  <div class="row" >
  
   <h3 style="margin-left: 10px"> <a href="{% url 'profile' post.user.username %}"><img src="{{ post.user.profile.get_picture }}" class="user" style="width:50px;height: 50px"></a>  

  <a href="{% url 'profile' post.user.username %}" >{{ post.user.profile.get_screen_name }}</a> 
  
  
  <small>{{ post.date|naturaltime }}</small> </h3>
  <!-- <div style="height: 100px;width: 100px;"> {{ post.categorie.url }} </div> -->
    <div class="col-md-10 col-md-offset-1 text-align">
    <div class="row">
    <div class="col-md-6 panel" style="background-color: #f2f2f2;margin-top: 50px">
    <p>{{ post.post }} </p>
    </div>
    <div class="col-md-6">
   {% if post.image %}
    <img src="/image/{{ post.image }}" style="width:200px;height: 200px;float: right;border: initial;"> <br>
    {% else %}
    <img src="/image/{{ post.categorie.logo }}" class="user" style="width:200px;height: 200px;float: right;"><br>
    {% endif %} <br>
    </div>
     
    </div> 
    </div>
    </div>
   
   </div>