{% load i18n %}
{% load humanize %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'discover/css/tooltip.user.css' %}"/> 
<div class="row">       
                       

    {% for produit in produits %}
         {% if produit.is_favorite == True %}
              
      <div class="col-md-3 item" style="padding-right: 0px">
        
        
    
       <div class="thumbnail"  >
       {#% for wishs in produit.wishlist_set.all %#}

       {#% for wishs in wishlists %#}
        {#%for pro in wishs.product.all  %#}
                  
                {#% if pro == produit %#}
                     

  {% if request.user == user %}
 <form action="{% url 'deletewish' wishlist produit.id %}" method="post" style="display: inline;">
           {% csrf_token %}
            <input type="hidden" name="produit_id" value="{{ produit.id }}" />
           
      <span class="glyphicon glyphicon-remove" data-wish-id="{{ wishlist }}" data-item-id="{{ produit.id }}" style="color: red;font-weight:bold;" size="20"></span>
            {#% endif %#}
</form>      
       {% endif%}
{#% endfor %#}
       {#% endfor %#}


       <script type="text/javascript">
         $(function () {
    $('.glyphicon-remove').on('click', function () {
    var $this = $(this);
    var wishId = $this.attr('data-wish-id');
    var itemId = $this.attr('data-item-id');

    $.ajax({
        url: '/whishlist/' + wishId  +'/'+ itemId,
        type: 'POST',
        success: function (data) {

            $this.closest('.item').remove();
            
        }
    });

});
}); 

       </script>
    <div style="float: right;">   {{ produit.created|naturaltime }} </div>
 
    
<form action="{% url 'discover:DetailView1' produit.id %}" method="get" style="display: inline;">
 
  <input type="hidden" name="produit_id" value="{{ produit.id }}" >
  <button type="submit" style="background: none">
     <img src="{{ produit.logo.url }}"  style="width:220px;height:150px;" class="img-responsive">
      <h5>  {{ produit.title }}  

      {% if produit.Genre == "homme et femme" %}
      <img src="{% static 'img/gender.png' %}" style="width: 15px;height: 15px">
       
      {% elif produit.Genre == "homme" %}
      <i class="fa fa-male" style="color: black;"></i>
      {% endif %}
      {% if produit.Genre == "femme" %}
      <i class="fa fa-female" style="color: black;"></i>
      {% endif %}

      </h5>
  </button>
   <input type="hidden" name="username" value="{{ produit.boutique.user }}"/>
   <input type="hidden" name="objet" value="{{ produit.title }}"/>
   <input type="hidden" name="url" value="{{ produit.id }}" />
   

</form>



         
  <div class="caption">
  
  <span class="btn btn-danger btn-xs" style="float: right;height: 20px;">{{produit.prix }} Dt</span>

 




       

            
  
    <div class="tooltip1">Par {{ produit.boutique.user }}
  <a href="{% url 'discover:boutique' produit.id %}">  <span class="tooltiptext">From {{ produit.boutique.name }}</span> 
  </a> 
   </div>
                <!-- amir  counter discover  -->
 <!--  <div class="row" id="{{ produit.title }}" hidden>
                        <form role="form"  action="{% url 'add_to_wishlist' produit.id %}" method="post">
                            {% csrf_token %}
                                <div style="padding:10px 20px;">
                                  <fieldset data-role="controlgroup">
                                  <legend>Choose wishlist: </legend>
                                      {% for wl in counter2 %}
                                          <div class="row">
                                            <input type="checkbox" name="{{ wl.name }}" id="checkbox-1a">
                                            {{ wl.name }} 
                                          </div>
                                      {% endfor %}
                                    </fieldset>
                                    <button type="submit" id="btnsub" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-btn-icon-left ui-icon-check">Submit</button>
                                </div>
                         </form>
    </div>  -->
           

  
  <!--  <span class="price price-green">{{produit.prix }} Dt</span>-->
    
     

      

               </div>
  {% if user.is_authenticated %}           
           {% include 'reaction/reaction.html' %}
  {% else %}  

      {% include 'reaction/loginFORreaction.html' %}


  {% endif %}      
          </div>
 
          </div>


                 {% endif %}

          {% endfor %}
          </div>

<script type="text/javascript">
 
</script>

{% load static %}
  <script src="{% static 'reaction/js/reaction.js' %}"></script>        
  <script src="{% static 'reaction/js/reaction.style.js' %}"></script>  

