{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Boutique{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/notification.css' %}">
    
     

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'js/imported/jquery.min.js' %}"></script>
    <script src="{% static 'js/imported/bootstrap.min.js' %}"></script>
     
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">      

    <div class="container-fluid">

                <!-- Header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'discover:products' %}">
<span class="glyphicon glyphicon-home"></span>
                    Silver</a>
                </div>

        <!-- Items -->
<div class="collapse navbar-collapse" id="topNavBar">
<ul class="nav navbar-nav">
  <!--  <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'boutique:index' %}"><span class="glyphicon glyphicon" aria-hidden="true"></span>&nbsp; Boutiques</a></li> -->
 
            <li role="presentation" {% if produit.is_favorite == True %}class="active"{% endif %}><a href="{% url 'discover:postlist' %}"><span class="glyphicon glyphicon" aria-hidden="true"></span>&nbsp; Discover</a></li>
            <li class="{% block post_active %}{% endblock %}"><a href="{% url 'postALL' %}">Post</a></li>
</ul>

     
    <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %} 
      
<ul class="nav navbar-nav">
<li>
<a href="#" class="notifications" data-container="body" data-toggle="popover" data-placement="bottom" title="Notifications">
<span class="glyphicon glyphicon-bell"></span>
</a>
</li>
</ul>




                   <li>
                      <a href="{% url 'profile' user.username %}">{{ user.profile.get_screen_name }}</a>
                    </li>
                    
                    <li class="dropdown" style="margin-bottom: 10px;">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li ><a href="{% url 'boutique:index' %}"><span class="glyphicon glyphicon-shopping-cart"> Shop</span></a></li> 
                    
                    
                    {% if request.user.utilisateur %}
                    <li><a href="{% url 'album' %}"><span class="glyphicon glyphicon-picture"> Album</span></a></li>
                    {% endif %}
                    
                    <li><a href="{% url 'wishlist' request.user.id %}">
                    <span class="glyphicon glyphicon-star"> Wishlist</span></a></li>
                    <li><a href="{% url 'settings' %}"><span class="glyphicon glyphicon-cog"> Account Settings</span></a></li>
                    <li role="separator" class="divider"></li>
                    
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-lock"> Log out </span></a></li>
                      </ul>
                    </li>
       {% else %}   
                    <li>
                      <a href="{% url 'login'  %}">Log in</a>
                    </li>
         {% endif %}                 
    </ul>
</div>
</div>

</div>
</nav>
       
      </header>
      <main>
        <div class="container" style="padding-top: 35px">
          {% block main %}
          {% endblock main %}
        </div>
      </main>
      <script src="{% static 'js/notification.js' %}"></script>
      <script src="{% static 'js/check_messages.js' %}"></script>

    {% endblock body %}
    <script src="{% static 'js/ga.js' %}"></script>
  </body>
</html>
