{% extends 'base.html' %}
{% block title %}Add a New produit{% endblock %}
{% block boutiques_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    

        <!-- Right produit Info -->
        <div class="col-sm-8 col-md-9">

          

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New produit</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">  {% csrf_token %}
                   
                 <!--   {{ form.as_p }}   -->
                
                    
                     
                        <input type="hidden" name="boutique" value="{{ boutique }}">
                       {% include 'shop/form-template.html' %}  
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

