{% extends 'base.html' %}


{% block body  %}

{% include 'discover/carousel.html' %}

 <font size="6" > <em style="margin-left: 40%;padding-top: 10px;padding-bottom: 10px;font-style: italic;width: 300px" >Products, Needs, Ideas</em></font>



<div class="row" style="padding-top: 20px">
                    <div class="col-lg-10 col-lg-offset-1 ">
                        <h3>Latest Products <small  style="float: right;"><em ><a href="{% url 'discover:postlist' %}">See other products</a> </em></small></h3>
              {% include 'discover/liste_produits.html' with produits=produits %}
                        <h3>Latest Posts <small style="float: right;"><em><a href="{% url 'postALL' %}">See Other posts</a></em></small></h3>   
              {% include 'post/liste_posts.html' with posts=posts %}     
                    </div>
                </div>
{% endblock body  %}