{% extends 'base.html' %}


<!--           Raniiiiiiiiiiiiiiiiiiiiiiiiiia             -->
{% block body %}
<!-- <ul class="nav nav-pills" style="margin-bottom: 10px;">  -->

<form class="navbar-form navbar-right" style="margin-right: 210px;margin-top: 2px ;margin-bottom: 10px" method="get" action="{% url 'discover:filter2' %}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">
               
  <div class="btn-group1">
  <button class="button" type="submit" name="creat" value="croissant" > Plus récent  </button>
  <button class="button" type="submit" name="creat" value="decroissant" > Plus ancien  </button>
  <button class="button" type="submit" name="creat" value="croissant1" > Prix croissant  </button>
  <button class="button" type="submit" name="creat" value="decroissant2" > Prix decroissant </button> 
  </div>                                                      
                    <input type="hidden" name="recherche" value="{{ request.GET.recherche }}"/>
                    <input type="hidden" name="catego" value="{{ request.GET.catego }}"/>
                    <input type="hidden" name="type0" value="{{ request.GET.type0 }}"/>
                    <input type="hidden" name="minprice" value="{{ request.GET.minprice }}"/>
                    <input type="hidden" name="maxprice" value="{{ request.GET.maxprice }}"/>
                
</form>
<div class="container-fluid songs-container">

<div class="row">

   

       <div class="col-sm-4 col-md-3">
            
        <div class="panel panel-default" >

            <div class="panel-body" style="padding: 0px;padding-left:10px">
                          <h3> Toutes les categories </h3>

               
 <form class="navbar-form navbar-left"  method="get" action="{% url 'discover:filter2' %}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">
                    <div class="form-group">
       <div class="btn-group">
<button class="button" type="submit" name="catego" value="Tous les produits" > Tous les produits ({{  Tous  }}) </button>
{% if Bijoux > 0 %}
<button class="button" type="submit" name="catego" value="Bijoux" > Bijoux ({{  Bijoux  }}) </button>
{% else %}
<button class="button" type="button" name="catego" value="Bijoux" > Bijoux ({{  Bijoux  }}) </button>
{% endif %}
{% if Vetement > 0 %}
<button class="button" type="submit" name="catego" value="Vetement" > Vetement ({{  Vetement  }}) </button>
{% else %}
<button class="button" type="button" name="catego" value="Vetement" > Vetement ({{  Vetement  }}) </button>
{% endif %}
{% if Accessoires > 0 %}
<button class="button" type="submit" name="catego" value="Accessoires" > Accessoires ({{  Accessoires  }}) </button>
{% else %}
<button class="button" type="button" name="catego" value="Accessoires" > Accessoires ({{  Accessoires  }}) </button>
{% endif %}
{% if Art > 0 %}
<button class="button" type="submit" name="catego" value="Art et collections" > Art et collections ({{  Art  }}) </button>
{% else %}
<button class="button" type="button" name="catego" value="Art et collections" > Art et collections ({{  Art  }}) </button>
{% endif %}
{% if Maison > 0 %}
<button class="button" type="submit" name="catego" value="Maison et ameublement" > Maison et ameublement ({{  Maison  }}) </button>
{% else %}
<button class="button" type="button" name="catego" value="Maison et ameublement" > Maison et ameublement ({{  Maison  }}) </button>
{% endif %}
</div>

            <!--    <button type="submit" class="btn btn-default" style="margin-left: 75px">Submit</button>    -->
                    <input type="hidden" name="recherche" value="{{ request.GET.recherche }}"/>
                    <input type="hidden" name="creat" value="{{ request.GET.creat }}"/>
                     <input type="hidden" name="type0" value="{{ request.GET.type0 }}"/>
                     <input type="hidden" name="minprice" value="{{ request.GET.minprice }}"/>
                    <input type="hidden" name="maxprice" value="{{ request.GET.maxprice }}"/>
                </div>
</form>
   </div>
</div> 

    <!--                 2222222222222222222222     -->



        <div class="panel panel-default">
          <div class="panel-body" style="padding: 0px ;padding-left:10px">
                  <h3> Prix (Dt) </h3>

                       

                                      
<form  method="get" action="{% url 'discover:filter2' %}">
                <div class="form-group">
<div class="slider slider-horizontal" style="width: 200px; margin-left: 10px" > 
<input id="ex2" type="text" name="rangeInput" style="width: 250px;height: 50px; " class="span2" style="margin-bottom: 50px;" value="" data-slider-min="{{minx}}" data-slider-max="{{maxx}}" data-slider-step="" data-slider-id="RC"  ></div></br>

            <input type="number" name="minprice" id="min-price" value="{{minx}}" style="width: 100px;margin-left: 30px;  text-align: center;">
            <input type="number" name="maxprice" id="max-price" value="{{maxx}}" style="width: 100px;margin-bottom: 10px;  text-align: center;">

                    <input type="submit" class="btn btn-default" data-inline="true" value="submit" style="margin-left: 100px">
                    <input type="hidden" name="recherche" value="{{ request.GET.recherche }}"/>
                    <input type="hidden" name="catego" value="{{ request.GET.catego }}"/>
                    <input type="hidden" name="type0" value="{{ request.GET.type0 }}"/>
                    <input type="hidden" name="creat" value="{{ request.GET.creat }}"/>
    </div></form>    


   <script type="text/javascript">
     
      //initialiser le slider
       $("#ex2").slider({
       min :{{minx}},
       max : {{maxx}},
       value:[{{minx}},{{maxx}} ]
       });
   </script>  


                                        </div>
                                   </div>
    <!--            3333333333333333333333   -->
<div class="panel panel-default">



<div class="panel-body" style="padding: 0px;padding-left:10px">
      <h3> Type du produit </h3>

<form class="navbar-form navbar-left"  method="get" action="{% url 'discover:filter2' %}?{% for key, value in request.GET.items %}&{{ key }}={{ value }}{% endfor %}">
                <div class="form-group">
      <div class="btn-group">
{% if Faits > 0 %}      
<button class="button" type="submit" name="type0" value="Faits à main">  Faits à main ({{  Faits  }})  </button> 
{% else %}
<button class="button" type="button" name="type0" value="Faits à main">  Faits à main ({{  Faits  }})  </button>
{% endif %}
{% if Vintage > 0 %}
<button class="button" type="submit" name="type0" value="Vintage" > Vintage ({{  Vintage  }})   </button>  
{% else %}
<button class="button" type="button" name="type0" value="Vintage" > Vintage ({{  Vintage  }})   </button>
{% endif %}

      </div>
                               
                               
                    <input type="hidden" name="recherche" value="{{ request.GET.recherche }}"/>
                    <input type="hidden" name="catego" value="{{ request.GET.catego }}"/>
                    <input type="hidden" name="minprice" value="{{ request.GET.minprice }}"/>
                    <input type="hidden" name="maxprice" value="{{ request.GET.maxprice }}"/>
                </div>
</form>

               
</div>
</div>



    </div>
   

<!-- liste des produits -->
      <div class="col-sm-8 col-md-9">

            <div class="container-fluid produits-container">

              {% include 'discover/liste_produits.html' with produits=produits %} 
            </div>
      </div>

                                </div>



      

                      

                 </div>
                 </div>

        </div>







                


  




{% endblock %}



</body>
</html>
